    <div class="row">
        <section id="home">
            <div class="col-md-12" style="margin-top:30px;">
                <section id="main-slider">
                    <div class="col-md-12 owl-carousel">
                        <div class="mySlides fade">
                            <img src="~/Images/Weding2.jpg" style="width:100%;height:400px" />
                            <div class="text"></div>
                        </div>

                        <div class="mySlides fade">
                            <img src="~/Images/Wedding.jpg" style="width:100%;height:400px" />
                            <div class="text"></div>
                        </div>
                    </div>
                    <br>
                    <div style="text-align:center">
                        <span class="dot"></span>
                        <span class="dot"></span>
                    </div>
                </section>
            </div>
            <div class="col-md-12">
                <div class="col-md-12">
                    <h2>SHRI GANESH WEDDING SERVICES</h2>
                </div>
                <div class="col-md-12">
                    <p>
                        We work as a qualified Wedding Planner .
                        No matter what ideas you have, we here to help you get your dream life partner.
                        Contact us to schedule a free consultation
                    </p>
                </div>
            </div>
        </section>

        <section id="about">
            <p class="text-center wow"><br> </p>
            <div class="col-md-12">
                <div class="col-md-12">
                    <h2 class="section-title wow fadeInDown">About Us</h2>
                </div>
                <div class="col-md-6 fadeInLeft">
                    <!-- 16:9 aspect ratio -->
                    <div>
                        <img src="~/Images/Wedding.jpg" />
                    </div>
                </div>
                <div class="col-md-6 fadeInRight">
                    <h3 class="">Weddings are important because they celebrate life and possibility.</h3>
                    <p>
                        We work as a qualified Wedding Planner .
                        No matter what ideas you have, we here to help you get your dream life partner.
                        Contact us to schedule a free consultation
                    </p>
                </div>
            </div>
        </section>

        <section id="get-in-touch">
            <div class="col-md-12">
                <div class="col-md-12" style="padding-top:30px;padding-left:30px;">
                    <p>
                        कोई धोखा या फरेब नहीं, सच्चाई के साथ सेवायें देते रहना हमारा प्रथम और अन्तिम उद्देश्य है।
                        हम शुरू में केवल खर्चे की छोटी धनराशि लेते हैं, और रिश्ता कराने की फीस रिश्ता पक्का हो जाने के बाद ही लेते हैं। आगे बढने से पहले सारी जानकारियों के लिये कृपया मिसकौल करें, हम आपसे स्वयं बैककौल करेंगे और बतायेंगे कि हमारा काम करने का तरीका क्या है और हमारी फीस क्या है, इसके बाद ही आप हमारे साथ आगे बढ़ने के बारे में नतीजा निकाल सकेंगे,अतः देर न करें और अभी फोन करें। धन्यवाद।
                    </p>
                    <p style="float:right; padding-right:15px;">
                        "श्रीगणेश वैडिंग सर्विसेज"
                        (SGWS)
                    </p>
                </div>
                <div class="col-md-12" style="margin-top:30px;" align="center">
                    <img src="~/Images/Banner.jpg" />
                    <h2 class="section-title text-center wow fadeInDown">Get in Touch</h2>
                    <p class="text-center wow fadeInDown">If you have any questions about Progressive, please call or e-mail us. We look forward to helping you.</p>
                    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Enquiry Form</button>
                </div>
            </div>
        </section>
        <section id="contact">
            @*<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d951.7091477251472!2d78.516386!3d17.419628!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xff060a4a6c181d26!2sWarasiguda+Bus+Stop!5e0!3m2!1sen!2sin!4v1456290982743" width="100%" height="800" frameborder="0" style="border:0" allowfullscreen></iframe>*@
            <div class="col-md-12" style="margin-top:20px; padding-top:30px;padding-bottom:30px; background-color:black;">
                <div class="col-md-4">
                    <div class="col-md-4">
                        <img src="~/Images/iconfinder_mail_1296373.png" style="height:100px" />
                    </div>
                    <div class="col-md-8" style="color:white;padding-top:35px">
                        <strong> <a style="color:white" href="mailto:abc@gmail.com">abc@gmail.com</a></strong>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="col-md-4">
                        <img src="~/Images/iconfinder_location_1055034.png" style="height:100px" />
                    </div>
                    <div class="col-md-8" style="color:white">
                        <p>
                            <strong>
                                Badi Lal Kothi
                            </strong>
                        </p>
                        <p>
                            <strong>
                                Chandra Nagar
                            </strong>
                        </p>
                        <p>
                            <strong>
                                Saharanpur
                            </strong>
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="col-md-4">
                        <img src="~/Images/iconfinder_phone_1287515.png" style="height:100px" />
                    </div>
                    <div class="col-md-8" style="color:white;padding-top:35px">
                        <p><strong>9897747480</strong></p>
                    </div>
                </div>
            </div>
        </section>

        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Enquiry Form</h4>
                    </div>
                    <div class="modal-body" style="height: 1050px;">
                        @Html.Partial("_EnquiryForm")
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
    </div>



<script>
    var slideIndex = 0;
    showSlides();

    function showSlides() {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("dot");
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        slideIndex++;
        if (slideIndex > slides.length) { slideIndex = 1 }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " active";
        setTimeout(showSlides, 2000); // Change image every 2 seconds
    }
</script>
